<ion-view view-title="Plan Your Walk" ng-controller="planWalkCtrl">
    <ion-pane>
	    <ion-content>
	    <form id="route" name="route">
	        <div id="map" data-tap-disabled="true"></div>
	        	<div id="routes">
		        	<table id="walkingRoute" >
		        		<tr>
		        			<td id="route">Route</td>
		        		</tr>
		        	</table>
		        
			        <!--<div id="clear">
			        	<input type="submit" value="Reset"  onclick="window.location.reload()"></input>
			        </div>-->
		    	</div>
		</form>
	  	</ion-content>
    </ion-pane>
</ion-view>