<ion-view view-title="Walk or not?" ng-controller="WwCtrl">
  <ion-content class="padding">
  	<div class="questions form-center-text">
		Where would you like to go for a walk?
		<label class="item item-input">
		  <input type="text" ng-model="details.location" placeholder="Location">
		</label>
		When would you like to go there?
		<label class="item item-input">
		  <input type="date" ng-model="details.date" placeholder="Date">
		</label>		
		Which hour?
		<label class="item item-input">
		  <input type="number" ng-model="details.hour" placeholder="Date" min="0" max="24"/>
		</label>
		<br />
		<span class="btn-class margin-left" ng-click="checkWeather()">Check Weather</span>
	</div>
  </ion-content>
</ion-view>
